{% extends "::admin.html.twig" %}

{% block main %}
<h2>Modificar Municipio {{municipio.nombre}}</h2>

<div>
    <form action="{{path('admin_municipio_editar', { 'id': municipio.id })}}" method="post">
        {{form_widget(formulario)}}
            <input type="submit" value="Modificar" />
    </form>
</div>

<a href="{{path('admin_municipio_index')}}">Volver al listado</a>

{% endblock %}
