{% extends "::admin.html.twig" %}

{% block main %}
    <h2>Modificar Usuario {{usuario.nombre}}</h2>

    <div>
        <form action="{{path('admin_usuario_editar', { 'id': usuario.id })}}" method="post">
            {{form_widget(formulario)}}
            <input type="submit" value="Modificar" />
        </form>
    </div>

    <a href="{{path('admin_usuario_index')}}">Volver al listado</a>

{% endblock %}
