{{ logo }}
<h2>Comentario sobre la aplicación web Ociosos</h2>

<p><b>Nombre del comentarista:</b> {{ name }}</p>

<p><b>Correo del comentarista:</b> {{ email }}</p>

<div>
<div><p><b>Mensaje:</b></p></div><div style="float: right"><p>{{ comment }}</p></div>
</div>
