{% extends "::admin.html.twig" %}

{% block main %}
<h2>Categor&iacute;a: {{categoria.nombre}}</h2>

<div>
    <fieldset>
        <legend>Detalles</legend>
        <p>Nombre: {{categoria.nombre}}</p>        
    </fieldset>
</div>

<a href="{{path('admin_categoria_index')}}">Volver al listado</a>

{% endblock %}
