{% extends "::admin.html.twig" %}

{% block main %}
    <h2>Modificar Provincia {{provincia.nombre}}</h2>

    <div>
        <form action="{{path('admin_provincia_editar', { 'id': provincia.id })}}" method="post">
            {{form_widget(formulario)}}
            <input type="submit" value="Modificar" />
        </form>
    </div>

    <a href="{{path('admin_provincia_index')}}">Volver al listado</a>

{% endblock %}
