{% extends "::admin.html.twig" %}

{% block main %}
    <h2>Organizaci&oacute;n: {{organizacion.nombre}}</h2>

    <div>
        <fieldset>
            <legend>Detalles</legend>
            <p>Nombre: {{organizacion.nombre}}</p>
        </fieldset>
    </div>

    <a href="{{path('admin_organizacion_index')}}">Volver al listado</a>

{% endblock %}

